VITE_SUPABASE_URL=https://gigqhlfkikufnuxcbwky.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpZ3FobGZraWt1Zm51eGNid2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NDIyNzUsImV4cCI6MjA5OTUxODI3NX0.dUD0yaLnx1r0TWm1GLsfVCkjofMivpvgdyCeDVz4xx8
